*{
    background-color: rgb(155,188,15);
}

footer {
    height: 25vh;
}

.gridContainer{
    display: flex;
    flex-direction: column;
     height: 70vh;
     outline: 2px dotted rgb(15,56,15);
    }

